<html>
  <body>
	<table>
		<% for listing in @properties %>
			<tr>
				<td>
					<h3>
						<%= listing.street %>
						<%= listing.city %> <%= listing.state %>
					</h3>
				</td>
				<td><%= listing.price %></td>
			</tr>
		<% end %>
	</table>
  </body>
	
</html>
