<html>
  <head>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
    
    <script>
     $(document).ready(function(){
       var input = document.getElementById('city');
       var options = {
         types: ['(cities)'],
         componentRestrictions: {country: 'us'}
       };

       autocomplete = new google.maps.places.Autocomplete(input, options);
     });
    </script>
  </head>
  <body>
    <%= form_tag("/search", :method => "get") do %>
      <%= label_tag(:city, "Find a rental unit in") %>
      <%= text_field_tag(:city) %>
      <%= submit_tag("Search") %>
    <% end %>
  </body>
	
</html>
