<!DOCTYPE html>
<html>
<script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>	

<body onload="initialize()">
<div id='mapDiv'></div>
</body>
</html>
