<!DOCTYPE html>
<html>
<script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>	

<body onload="initialize()">
<div id="sidebar"><h3>Listings</h3></div>
<div id="mapDiv"></div>
</body>
</html>
