// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.italic {
	font-style: italic;
}

.footer {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40em;
	margin-top: 30px;
}

.profilepic {
	border-radius: 5px;
}